/* open-sans-light */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/OpenSans-Light.woff') format('woff');
}

/* open-sans-regular */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

/* open-sans-bold */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/OpenSans-Bold.woff') format('woff');
}

/* myriad-pro-light */
@font-face {
  font-family: 'MyriadPro';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/MyriadPro-Light.woff') format('woff');
}

/* myriad-pro-regular */
@font-face {
  font-family: 'MyriadPro';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/MyriadPro-Regular.woff') format('woff');
}

/* myriad-pro-bold */
@font-face {
  font-family: 'MyriadPro';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/MyriadPro-Bold.woff') format('woff');
}

/* lato-light */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/Lato-Light.woff') format('woff');
}

/* lato-regular */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Lato-Regular.woff') format('woff');
}

/* lato-bold */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/Lato-Bold.woff') format('woff');
}

/* gotham-black */
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  src:
    url('../fonts/GothamPro-Black.woff') format('woff');
}

/* brandon-grotesque-bold */
@font-face {
  font-family: 'BrandonGrotesque';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/BrandonGrotesque-Bold.woff') format('woff');
}

:root {
  --red-color: #ff2400;
  --blue-color: #709dca;
  --blue-border: #1ca8dd;
  --white-color: #ffffff;
  --orange-color: #ffc155;
  --orange-border: #e7ad48;
  --orange-active: #ffbb42;
  --grey-color: #7b7b7b;
  --light-grey: #999999;
  --minimal-grey: #a9a9a9;
  --grey-border: #dedfe0;
  --black-green: #394b50;
  --price-color: #e7edf3;
  --price-heading: #818b95;
  --price-content: #b5bbc1;
  --price-border: #ccd5df;
  --autor-color: #99a9ae;
}


html {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.site-heading {
  margin: 0 0 5px 0;
  font-size: 30px;
  font-family: 'Gotham', sans-serif;
  font-weight: 900;
  color: var(--black-green);
  text-transform: uppercase;
}

.site-heading-description {
  margin: 0 0 100px 0;
  font-size: 16px;
  font-weight: 400;
}


* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.site-btn {
  padding: 15px 30px;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--orange-color);
  border: 1px solid var(--orange-border);
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  transition: 0.2s;
  cursor: pointer;
}

.site-btn:hover {
  background-color: var(--orange-border);
  transition: 0.7s;
  cursor: pointer;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  height: 95px;
  background-color: var(--white-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__nav {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13.5px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  margin: auto;
}

.header__nav-item {
  text-transform: uppercase;
}

.header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__nav-link {
  color: var(--light-grey);
}

.is-active {
  padding: 12px 20px;
  background-color: var(--orange-active);
  border-radius: 5px;
  color: #fff;
}

.header__nav-link:hover {
  background-color: var(--orange-active);
  border-radius: 5px;
  padding: 12px 20px;
  color: var(--white-color);
  transition: 0.25s;
}

/* Section Hero */

.section-hero {
  height: 590px;
  background-color: var(--blue-color);
}

.section-hero__content {
  text-align: center;
}

.section-hero__content-heading {
  display: inline-block;
  margin: 100px 0 12px 0;
  color: var(--white-color);
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 24px;
  text-transform: uppercase;
}

.section-hero__content-text {
  margin: 0 0 40px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
}

.section-hero__form {
  display: flex;
  justify-content: space-between;
}

.section-hero__input {
  flex: 0 0 calc(27% - 10px);
  height: 45px;
  border-radius: 3px;
  border: none;
}

.section-hero__input::placeholder {
  font-size: 13px;
  color: var(--minimal-grey);
}

.section-hero__input#man {
  background-image: url(../img/man_ico.png);
  background-repeat: no-repeat;
  background-position: 15px 16px;
  text-indent: 38px;
}

.section-hero__input#email {
  background-image: url(../img/email_ico.png);
  background-repeat: no-repeat;
  background-position: 15px 16px;
  text-indent: 40px;
}

.section-hero__input#phone {
  background-image: url(../img/phone_ico.png);
  background-repeat: no-repeat;
  background-position: 15px 16px;
  text-indent: 38px;
}

.section-hero__btn-submit {
  flex: 0 0 calc(20% - 10px);
  height: 45px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  background-color: var(--orange-active);
  text-transform: uppercase;
  color: var(--white-color);
  transition: 0.7s;
}

.section-hero__btn-submit:hover {
  background-color: var(--red-color);
  transition: 0.7s;
}

.section-hero__content-image {
  margin: 70px auto 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 650px;
}

/* Our Services */

.section-services__content-radius {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 100px;
}

.section-services__content-radius-blue {
  margin-right: 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--blue-border);
  border-radius: 50px;
}

.section-services__content-radius-grey {
  margin-right: 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--grey-border);
  border-radius: 50px;
}

.section-services__content {
  text-align: center;
}

.section-services__content-heading {
  margin: 0 0 5px 0;
  font-size: 30px;
  font-family: 'Gotham', sans-serif;
  font-weight: 900;
  color: var(--black-green);
  text-transform: uppercase;
}

.section-services__content-text {
  margin: 0 0 100px 0;
  font-size: 16px;
  font-weight: 400;
}

.section-services__tabs-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 160px 0;
}

.section-services__tabs {
  max-width: 540px;
  display: flex;
  flex-direction: row;
  margin: 0 0 80px 0;
}

.section-services__tabs:nth-child(5) {
  margin: 0;
}

.section-services__tabs:nth-child(6) {
  margin: 0;
}

.section-services__tabs-image {
  max-width: 50px;
  margin-right: 40px;
}

.section-services__tabs-ico {
  min-width: 50px;
  max-height: 50px;
}

.section-services__tabs-heading {
  margin: 0 0 10px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-green);
  font-size: 16px;
  line-height: 24px;
}

.section-services__tabs-text {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: var(--grey-color);
}

/* About Us */

.section-about {
  min-height: 630px;
  display: flex;
}

.section-about__left {
  background-image: url("../img/about_pic_bckg.png");
  background-position: center;
  background-size: cover;
  height: 630px;
  width: 50%;
}

.section-about__right {
  display: flex;
  flex-direction: column;
  background-color: var(--orange-color);
  justify-content: center;
  width: 50%;
}

.section-about__content-wrap {
  padding: 0 0 0 80px;
  max-width: 600px;
}

.section-about__heading {
  font-family: "Gotham";
  padding: 0 0 20px 0;
  font-weight: 900;
  font-size: 30px;
  color: var(--white-color);
  text-transform: uppercase;
}

.section-about__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: var(--white-color);
  padding: 0 0 30px 0;
}

.section-about__button {
  padding: 15px 30px;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--orange-color);
  border: 1px solid var(--orange-border);
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  transition: 0.7s;
}

.section-about__button:hover {
  background-color: var(--orange-border);
  transition: 0.7s;
}

/* Section Price */

.section-price {
  background-color: var(--price-color);
}

.section-price__container {
  padding: 130px 0 0 0;
  min-height: 900px;

}

.section-price__content {
  text-align: center;
}

.section-price__content-text {
  margin: 0 0 85px 0;
}

.section-price__cart-flex {
  display: flex;

}

.section-price__cart-wrap {
  width: 391px;
  height: 450px;
  padding: 50px 30px 50px;
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--price-border);
}

.section-price__cart-wrap:hover {
  background-color: #709dca;
  transform: scale(1.1);
  transition: .3s;
}

.section-price__cart-wrap:hover .section-price__cart-heading {
  color: var(--white-color);
}

.section-price__cart-wrap:hover .section-price__cart-price {
  color: var(--white-color);
}

.section-price__cart-wrap:hover .section-price__cart-month {
  color: var(--white-color);
}

.section-price__cart-wrap:hover .section-price__cart-content-underline {
  color: var(--white-color);
}


.section-price__cart-wrap:not(:last-child) {
  margin-right: 10px;
}

.section-price__cart-heading {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  padding: 0 0 30px 0;
  color: var(--price-heading);
}

.section-price__cart-price {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: var(--orange-active);
  font-size: 60px;
}

.section-price__cart-price sup {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  font-variant: small-caps;
}

.section-price__cart-month {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--price-heading);
  padding: 0 0 25px 0;
}

.section-price__cart-content-underline {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: var(--price-content);
}

.section-price__cart-content-underline::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 329px;
  height: 1px;
  background-color: #e2e9f0;
}

.section-price__cart-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.section-price__cart-wrap:hover .section-price__cart-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  background-color: var(--white-color);
  color: var(--black-green);
  cursor: pointer;
}

/* How It Works */

.section-works__container {
  min-height: 860px;
  padding-top: 150px;
}

.section-works__content {
  text-align: center;
}

.section-work__cart-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 0 90px 0;
}

.section-work__cart-wrap {
  max-width: 260px;
}

.section-work__icon {
  max-width: 90px;
  max-height: 70px;
  display: block;
  margin: 0 auto;
  margin-bottom: 95px;

}

.section-work__heading {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: var(--black-green);
}

.section-work__text {
  font-size: 13px;
  line-height: 22px;
  text-align: center;
}

.section-work___button {
  display: block;
  margin: 0 auto;
  border: none;
}

.section-work___button:hover {
  transform: scale(1.1);
}

.section-work__arrow {
  position: absolute;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  width: 128px;
  height: 32px;
}

.arrow-1 {
  left: 233px;
  top: -10%;
}

.arrow-2 {
  left: 523px;
  top: 25%;
  transform: rotate(180deg);
}

.arrow-3 {
  left: 830px;
  top: -10%;
}

/* Section Happy */

.section-happy {
  background-color: var(--orange-color);
}

.section-happy__container {
  min-height: 910px;
}

.section-happy__content {
  padding: 120px 0 0 0;
  text-align: center;
}

.section-happy__cart-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-happy__content__wrap {
  display: flex;
}

.section-happy__content-heading {
  color: var(--white-color);
}

.section-happy__content-text-heading {
  color: var(--white-color);
}

.section-happy__cart-wrap {
  width: 567px;
  height: 241px;
  background-color: var(--white-color);
  padding: 43px 40px 53px 30px;
  margin-bottom: 20px;
}


.section-happy__content-text {
  position: relative;
  color: var(--grey-color);
  max-width: 370px;
  font-size: 13px;
  line-height: 22px;
}

.section-happy__content-avatar {
  margin-right: 30px;
}

.section-happy__content-avatar-ico {
  max-width: 121px;
}

.section-happy__content-autor {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  color: var(--orange-color);
}

.section-happy__content-autor-span {
  color: var(--autor-color);
}

.section-happy__content-text-quotes-up {
  position: absolute;
  font-family: "BrandonGrotesque", sans-serif;
  font-size: 30px;
  left: -20px;
}

.section-happy__content-text-quotes-bottom {
  position: absolute;
  font-family: "BrandonGrotesque", sans-serif;
  font-size: 30px;
  transform: rotateY(180deg);
  right: 196px;
  bottom: -9px;
}

.section-happy__content-text-quotes-bottom-arrow-2 {
  position: absolute;
  font-family: "BrandonGrotesque", sans-serif;
  font-size: 30px;
  transform: rotateY(180deg);
  right: 146px;
  bottom: -8px;
}

/* Section Map */

.section-map__content {
  text-align: center;
  margin: 155px 0 0 0;
}

.section-map__heading {
  margin: 0;
}

.section-map__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.section-map__input-name {
  flex: 0 0 calc(29% - 10px);
  height: 45px;
  margin: 0 0 0 75px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}

.section-map__input-email {
  flex: 0 0 calc(37% - -86px);
  height: 45px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}

.section-hero__input::placeholder {
  font-size: 13px;
  color: var(--minimal-grey);
}

.section-map__input-name#man {
  background-image: url(../img/man_ico.png);
  background-repeat: no-repeat;
  background-position: 15px 16px;
  text-indent: 38px;
}

.section-map__input-email#email {
  background-image: url(../img/email_ico.png);
  background-repeat: no-repeat;
  background-position: 15px 16px;
  text-indent: 40px;
}

.section-map__btn-submit {
  flex: 0 0 calc(20% - 10px);
  height: 45px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  background-color: var(--orange-active);
  text-transform: uppercase;
  color: var(--white-color);
  transition: 0.7s;
}

.section-map__btn-submit:hover {
  background-color: var(--red-color);
  transition: 0.7s;
}

.site-heading-description {
  margin: 0 0 35px 0;
}

.section-map__wrap {
  min-height: 610px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 70px;
}

.section-map__wrap-img {
  background: url(../img/bckg_map.png);
  background-size: cover;
  max-width: 1120px;
  min-height: 560px;
}

.section-map__radius-wrap {
  display: flex;
  justify-content: center;
}

.section-map__radius-wrap-content {
  background: url(../img/footer_radius.png);
  background-repeat: no-repeat;
  background-position-y: 37px;
  min-width: 285px;
  min-height: 350px;
  text-align: center;
}

.radius-wrap-content__heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 90px 0 0 0;
  font-family: 'OpenSans', sans-serif;
  color: var(--white-color);
  font-size: 15px;
}

.radius-wrap-content__list {
  font-size: 13px;
  line-height: 24px;
  color: #aeb7ba;
  font-weight: 400;
}

.radius-wrap-content__link {
  font-size: 13px;
  line-height: 24px;
  color: var(--orange-active);
  font-weight: 400;
}

.section-map__radius-wrap-content-logo {
  margin-top: 100px;
}

/* Section Footer Social */

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}

.footer-nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--black-green);
  transition: 0.6s;
}

.footer-nav-link:hover {
  color: var(--orange-active);
  transition: 0.6s;
}

.footer-nav__phone {
  margin-bottom: 20px;
}

.footer-nav-phone_text {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 23px;
}

.footer-nav-phone_link {
  color: var(--black-green);
}

.footer-nav__soc {
  margin-bottom: 50px;
}

.footer-nav__soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav__soc-link {
  color: #709dca;
  cursor: pointer;
  font-size: 19px;
  transition: all .2s;

}

.footer-nav__soc-link:hover {
  color: var(--orange-active);
  transition: all .2s;
}

.footer-nav__soc-item:not(:last-child) {
  margin-right: 15px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  background-color: var(--blue-color);
}

.footer__text {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--white-color);
}